<div class="pull-left col-sm-offset-2">URL</div>

<div class="col-sm-6">
	<div class="input-group">
	<input type="text" data-type="stringURL" class="form-control">
		<div class="input-group-btn">
		<button type="button" data-type="refreshAction" class="btn btn-default dropdown-toggle" data-toggle="dropdown">None<span class="caret"></span></button>
			<ul data-type="refreshOptions" class="dropdown-menu pull-right">
			<li><a data-type="None" href="#">None</a></li>
			<li><a data-type ="5sec" href="#">Refresh every 5 seconds</a></li>
			<li><a data-type="Constant" href="#">Constant Refresh</a></li>
			</ul>
		</div>
	</div>

</div>
<button type="button" data-type="connect" class="btn btn-success">Connect</button>